// Comando: sass input.sass style.css
@font-face
    font-family: Ubuntu
    src: url("../netrunnerclicktracker/Ubuntu/Ubuntu-Regular.ttf") format("truetype")

button
    border: 1px solid #222
    border-radius: 3px
    width: fit-content
    height: auto

#split
    display: flex
    justify-content: space-evenly
    width: 100%
    height: 75vh
    border-top: 1px rgb(0, 0, 0) solid
    border-bottom: 1px rgb(0, 0, 0) solid
    >
        div
            width: 50%
            background-color: rgb(175, 175, 175)
            >
                h3
                    margin: 10px 10px
        #corp
            border-right: 1px rgb(0, 0, 0) solid

#settings
    position: fixed
    display: flex
    flex-direction: column
    border-color: black
    border-style: solid
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 50%
    height: 70%
    align-items: center
    text-align: center
    background-color: #f8f8ff
    border-radius: 10px
    >
        #closeSettings
            margin-top: auto
            margin-bottom: 10px
            width: 12%
            height: 5%
            min-width: fit-content
            min-height: fit-content
            font-weight: bold
            border: 1px solid #000
            border-radius: 3px

@media only screen and ( max-width: 680px )
    #split
        flex-direction: column
        height: 70vh
        >
            div
                width: 100%
                height: 50vh
            #corp
                border-right: 0px
                border-top: 1px rgb(0, 0, 0) solid
                transform: rotate(180deg)
    #settings
        width: 80%
        >
            #closeSettings
                width: 33%
                height: 5%

#fade
    background-color: rgb(100, 100, 100)
    opacity: 30%
    height: 100%
    width: 100%
    position: fixed
    top: 0

body
    margin: 0
    padding: 0
    font-family: Ubuntu
    display: flex
    align-content: space-around
    justify-content: space-evenly
    flex-direction: column
    background-color: #f8f8ff
    color: #202020
            
#panel
    display: none

#otherR, #otherC, #ohterR2
    display: flex
    align-items: center
    margin: 0px 10px
    >
        button
            margin-left: 10px

#head
    margin-bottom: 5%
    display: flex
    justify-content: space-between
    align-items: center
    margin: 2px 10px 
    >
        #sabia
            height: 50px
            margin: 10px
        #settingsButton
            height: 30px
            padding: 10px
            margin: 10px
        h2
            margin: 10px

.piece
    display: flex
    margin-left: 10px
    align-items: center
    >
        button
            margin-left: 10px
        p
            margin-left: 3px

#global
    margin: 0px 15px 15px 15px

a
    &:visited
        color: #202020
    &:link
        color: #202020