@font-face {
  font-family: Ubuntu;
  src: url("../netrunnerclicktracker/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
}
div {
  min-height: fit-content;
}

button {
  border: 1px solid #222;
  border-radius: 3px;
  min-width: fit-content;
  min-height: fit-content;
  width: 3em;
}

#split {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 75vh;
  border-top: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
#split > div {
  width: 50%;
  background-color: rgb(175, 175, 175);
}
#split > div > h3 {
  margin: 10px 10px;
}
#split > #corp {
  border-right: 1px rgb(0, 0, 0) solid;
}
#split:fullscreen {
  height: 85vh;
}

#settings {
  position: fixed;
  display: flex;
  flex-direction: column;
  border-color: black;
  border-style: solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 70%;
  min-height: fit-content;
  align-items: center;
  text-align: center;
  background-color: #f8f8ff;
  border-radius: 10px;
}
#settings > button {
  margin-top: 0.5em;
  width: 20%;
  min-width: fit-content;
  min-height: fit-content;
  height: 2em;
  margin-bottom: 0.5em;
}
#settings > #closeSettings {
  margin-top: auto;
  margin-bottom: 10px;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 3px;
}
#settings > p {
  margin-left: 1vw;
  margin-right: 1vw;
}

#choose {
  position: fixed;
  display: flex;
  flex-direction: column;
  border-color: black;
  border-style: solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  background-color: #f8f8ff;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  justify-content: space-evenly;
}

#global {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#global > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-bottom: 5px;
}
#global > div > button {
  width: 20vw;
  height: 2em;
}

@media only screen and (max-width: 680px) {
  button {
    min-width: fit-content;
    min-height: fit-content;
    max-width: 40vw;
    width: 40vw;
    height: 2.5em;
  }
  #split {
    flex-direction: column;
    height: 70vh;
  }
  #split > div {
    width: 100%;
    height: 50vh;
  }
  #split > div > div > button {
    width: 20vw;
  }
  #split > #corp {
    border-right: 0px;
    border-top: 1px rgb(0, 0, 0) solid;
    transform: rotate(180deg);
  }
  #settings {
    width: 80%;
  }
  #settings > button {
    width: 70vw;
  }
  #settings > #closeSettings {
    width: 33%;
    height: 5%;
  }
  #choose {
    width: 90vw;
  }
}
.fade {
  background-color: rgb(100, 100, 100);
  opacity: 30%;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
  height: 100vh;
  min-height: fit-content;
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #f8f8ff;
  color: #101010;
}

.panel {
  display: none;
}

#otherR, #otherC, #ohterR2 {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}
#otherR > button, #otherC > button, #ohterR2 > button {
  margin-left: 10px;
}

#head {
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 10px;
}
#head > #sabia {
  height: 50px;
  margin: 10px;
}
#head > #settingsButton {
  height: 30px;
  padding: 10px;
  margin: 10px;
}
#head > h2 {
  margin: 10px;
}

.piece {
  display: flex;
  margin-left: 10px;
  align-items: center;
}
.piece > button {
  margin-left: 10px;
}
.piece > p {
  margin-left: 3px;
}
.piece > .clickImage {
  height: 2.5em;
}
.piece > .creditImage {
  height: 1.8em;
}

a:visited {
  color: #101010;
}
a:link {
  color: #101010;
}

/*# sourceMappingURL=style.css.map */
